{% load staticfiles %} 
 
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
       <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
    </head>
    <body>
     <div class="page-header">
			<a href="{% url 'home' %}" class="top-menu"><span class="glyphicon glyphicon-home"></span></a>
			<a href="/" class="top-menu"><span class="glyphicon glyphicon-search"></span></a>
			<a href="/" class="top-menu"><span class="glyphicon glyphicon-user"></span></a>
    {% if user.is_authenticated %}
            <a href="{% url 'cirurgia_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
            <h1>Buscar Cirurgia</h1>
        </div>

<body>
<div class="content container">
<a class="btn btn-default" href="{% url 'lista_cirurgias' %}"><span class="glyphicon glyphicon-arrow-left"></span></a> <br  /><br  />


<form action="{% url 'busca_cirurgias' %}" method="GET" value="{{request.GET.q}}">
<fieldset>
<legend>Busque por data, hora, sala ou orgão envolvido:</legend>
<input type="text" name="q" value="{{request.GET.q}}" placeholder="Digite aqui:"/>
<input type="submit" name="submit" value="buscar"/>
{% csrf_token %}
</fieldset>
</form>

{% if submitbutton == 'buscar' and request.GET.q != '' %}
{% if results %}

<h1> Resultados: </h1>

 {% for cirurgia in results %}
                <div class=“cirurgia”>
                    <h3><a href="{% url 'cirurgias_detail' pk=cirurgia.pk %}">{{ cirurgia.data_hora }}</a></h3>
                </div>
            {% endfor %}

{% else %}

{% endif %}
{% endif %}
</div>
</body>
</html>
