{% load staticfiles %} 
 
<html>
    <head>
        <title>Transplantes</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
       <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
    </head>
    <div class="content container">
    <body>
   <div class="page-header">
        <h3><a href="/"><< Voltar</a></h3>
    </div>
        <div class="row">
            <div class="col-md-8">
            <a class="btn btn-default" href="{% url 'clinicos_edit' pk=clinico.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'remove_clinico' pk=clinico.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
      <h1><a href="{% url 'clinicos_detail' pk=clinico.pk %}">{{ clinico.nome }}</a></h1>
                    <p>Telefone: {{ clinico.telefone}}</p>
                    <p>Cpf: {{ clinico.cpf}}</p>
                    <p>Email: {{ clinico.email}}</p>
                    <p>Data de nascimento: {{ clinico.data_nasc}}</p>
                    <p>Setor: {{ clinico.setor}}</p>
                    <p>Profissão: {{ clinico.profissao}}</p>
                    <p>CRM ou CRE: {{ clinico.CRM_CRE}}</p>
                    <p>Especialidade: {{ clinico.especialidade|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</body>
</html>
