{% load staticfiles %} 

<html>

    <head>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
       <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> 
       <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
    </head>

        <div>
<div class="page-header">
      <a href="{% url 'home' %}" class="top-menu"><span class="glyphicon glyphicon-home"></span></a>
			<a href="/" class="top-menu"><span class="glyphicon glyphicon-user"></span></a>
            <h1>Transplantes</h1>
        </div>

<div class="content container">
<div class="row">
<h1> Bem-vindo (a), selecione uma opção: </h1>

<h2><a href="{% url 'lista_cirurgias' %}">Cirurgias</a></h2>
<h2><a href="{% url 'lista_pacientes' %}">Pacientes</a></h2>
<h2><a href="{% url 'lista_clinicos' %}">Clínicos</a></h2>
<h2><a href="{% url 'lista_secretarios' %}">Secretários</a></h2>

</div></div>

</html>
