{% load staticfiles %} 
 
<html>
    <head>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> 
       <link rel="stylesheet" href="{% static 'css/home.css' %}"> 

<div class="page-header">
			<a href="{% url 'home' %}" class="top-menu"><span class="glyphicon glyphicon-home"></span></a>
			<a href="{% url 'busca_pacientes' %}" class="top-menu"><span class="glyphicon glyphicon-search"></span></a>
			<a href="/" class="top-menu"><span class="glyphicon glyphicon-user"></span></a>
    {% if user.is_authenticated %}
            <a href="{% url 'paciente_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
            <h1>Pacientes</h1>
        </div>
</head> <body>


<div class="content container">

    <div class="row">
<h2>Clique para visualizar ou editar</h2><br>
            {% for paciente in pacientes %}
                <div class=“paciente”>
                    <h3><a href="{% url 'pacientes_detail' pk=paciente.pk %}">{{ paciente.nome }}</a></h3>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>
