{% load staticfiles %} 
 
<html>

    <head>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
       <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> 
       <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
    </head>

        <div>
<div class="page-header">
			<a href="{% url 'home' %}" class="top-menu"><span class="glyphicon glyphicon-home"></span></a>
			<a href="{% url 'busca_secretarios' %}" class="top-menu"><span class="glyphicon glyphicon-search"></span></a>
			<a href="/" class="top-menu"><span class="glyphicon glyphicon-user"></span></a>
    {% if user.is_authenticated %}
            <a href="{% url 'secretario_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
            <h1>Secretários</h1>
        </div>
 


<div class="content container">
    <div class="row">
	<h2>Clique para visualizar ou editar</h2><br>
            {% for secretario in secretarios %}
                <div class=“secretario”>
                    <h3><a href="{% url 'secretarios_detail' pk=secretario.pk %}">{{ secretario.nome }}</a></h3>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


</html>
