{% load staticfiles %} 
 
<html>
    <head>
        <title>Transplantes</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/transplante.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Pacientes</a></h1>
        </div>
 
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for paciente in pacientes %}
                <div class=“paciente”>
                    </div>
                    <h1><a href="">{{ paciente.nome }}</a></h1>
                    <p>telefone: {{ paciente.telefone}}</p>
                    <p>cpf: {{ paciente.cpf}}</p>
                    <p>email: {{ paciente.email}}</p>
                    <p>data nascimento: {{ paciente.data_nasc}}</p>
                    <p>tipo sanguineo: {{ paciente.tipo_sanguineo}}</p>
                    <p>orgao: {{ paciente.orgao}}</p>
                    <p>alergia: {{ paciente.alergia}}</p>
                    <p>doenca pre existente: {{ paciente.doenca_preexist|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

