{% load staticfiles %} 
 
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
       <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
    </head>
    <body>
     <div class="page-header">
			<a href="{% url 'home' %}" class="top-menu"><span class="glyphicon glyphicon-home"></span></a>
			<a href="/" class="top-menu"><span class="glyphicon glyphicon-search"></span></a>
			<a href="/" class="top-menu"><span class="glyphicon glyphicon-user"></span></a>
    {% if user.is_authenticated %}
            <a href="{% url 'paciente_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
            <h1>Paciente</h1>
        </div>
    <div class="content container">
        <div class="row">
            <div>
			<a class="btn btn-default" href="{% url 'lista_pacientes' %}"><span class="glyphicon glyphicon-arrow-left"></span></a>
            <a class="btn btn-default" href="{% url 'pacientes_edit' pk=paciente.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'remove_paciente' pk=paciente.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
			<h1>{{ paciente.nome }}</h1>
                    <p>Telefone: {{ paciente.telefone}}</p>
                    <p>Cpf: {{ paciente.cpf}}</p>
                    <p>Email: {{ paciente.email}}</p>
                    <p>Data de nascimento: {{ paciente.data_nasc}}</p>
                    <p>Doador ou Receptor: {{paciente.doador_receptor}}</p>
                    <p>Tipo sanguíneo: {{ paciente.tipo_sanguineo}}</p>
                    <p>Órgão: {{ paciente.orgao}}</p>
                    <p>Alergia: {{ paciente.alergia}}</p>
                    <p>Doenças pré existentes: {{ paciente.doenca_preexist|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</body>
</html>
