{% load staticfiles %} 
 
<html>
    <head>
        <title>Transplantes</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
   <div class="page-header">
        <h3><a href="/"><< Voltar para listagem de pacientes</a></h3>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
			<h1><a href="{% url 'pacientes_detail' pk=paciente.pk %}">{{ paciente.nome }}</a></h1>
                    <p>telefone: {{ paciente.telefone}}</p>
                    <p>cpf: {{ paciente.cpf}}</p>
                    <p>email: {{ paciente.email}}</p>
                    <p>data nascimento: {{ paciente.data_nasc}}</p>
                    <p>tipo sanguineo: {{ paciente.tipo_sanguineo}}</p>
                    <p>orgao: {{ paciente.orgao}}</p>
                    <p>alergia: {{ paciente.alergia}}</p>
                    <p>doenca pre existente: {{ paciente.doenca_preexist|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</body>
</html>
