{% load staticfiles %} 
 
<html>
    <head>
        <title>Transplantes</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
       <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
    </head>
    <body>
   <div class="page-header">
        <h3><a href="/"><< Voltar</a></h3>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            <a class="btn btn-default" href="{% url 'pacientes_edit' pk=paciente.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
			<h1><a href="{% url 'pacientes_detail' pk=paciente.pk %}">{{ paciente.nome }}</a></h1>
                    <p>Telefone: {{ paciente.telefone}}</p>
                    <p>Cpf: {{ paciente.cpf}}</p>
                    <p>Email: {{ paciente.email}}</p>
                    <p>Data de nascimento: {{ paciente.data_nasc}}</p>
                    <p>Tipo sanguíneo: {{ paciente.tipo_sanguineo}}</p>
                    <p>Órgão: {{ paciente.orgao}}</p>
                    <p>Alergia: {{ paciente.alergia}}</p>
                    <p>Doenças pré existentes: {{ paciente.doenca_preexist|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</body>
</html>
