{% load staticfiles %} 

<html>

    <head>
        <title>Transplantes</title>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> 
       <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
    </head>

        <div>
<div class="page-header">
            
            <h1>Paciente removido com sucesso!</h1>
            <h2><a href="/"><< Voltar</a></h2>
        </div>

<h1><a href="{% url 'lista_pacientes' %}">Lista de Pacientes</a></h1>

</html>