{% load staticfiles %} 
 
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
       <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
    </head>
    <body>
<div class="page-header">
			<a href="/" class="top-menu"><span class="glyphicon glyphicon-home"></span></a>
			<a href="/" class="top-menu"><span class="glyphicon glyphicon-search"></span></a>
			<a href="/" class="top-menu"><span class="glyphicon glyphicon-user"></span></a>
    {% if user.is_authenticated %}
            <a href="{% url 'secretario_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
            <h1>Secretários</h1>
        </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            <a class="btn btn-default" href="{% url 'secretarios_edit' pk=secretario.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'remove_secretario' pk=secretario.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
      <h1><a href="{% url 'secretarios_detail' pk=secretario.pk %}">{{ secretario.nome }}</a></h1>
                    <p>Telefone: {{ secretario.telefone}}</p>
                    <p>Cpf: {{ secretario.cpf}}</p>
                    <p>Email: {{ secretario.email}}</p>
                    <p>Data de nascimento: {{ secretario.data_nasc|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</body>
</html>
